<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать, {{ user_name }}</title>
</head>
<body>
<h1>Добро пожаловать, {{ user_name }}</h1>
<a href="/logout">Выйти из системы</a>
</body>
</html>
