<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создать пользователя</title>
</head>
<body>
<form action="/user/create" method="post">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" required>
    <label for="birthday">Дата рождения:</label>
    <input type="date" id="birthday" name="birthday" required>
    <button type="submit">Создать</button>
</form>
</body>
</html>
