{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h2>Добро пожаловать на мой сайт!</h2>
    <p>Текущее время: {{ "now"|date("H:i") }}</p>
{% endblock %}
