<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
</head>
<body>
<form action="/login" method="post">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>
    <label for="remember_me">
        <input type="checkbox" id="remember_me" name="remember_me"> Запомнить меня
    </label>
    <button type="submit">Войти</button>
</form>
</body>
</html>
